* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color:rgb(197, 199, 201) ;
}
header .container {
    max-width: 900px auto;
    margin: 0 auto;
}

header .container-top img {
    max-width: 100px;
    vertical-align: middle;
}

header .container-top span {
    font-size: 3rem;

}


header .box1 {
  width: 650px;
  height: 650px;
  background-color: white;
  border-bottom-style: groove ;
  margin-top: 100px;
    margin-left: 450px;
    margin-block-end: 100px;

}