*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'arial', sans-serif;
    background-color: lightgrey;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.btn {
    border: solid 1px currentColor;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.btn-secondary {
    background-color: transparent;
    color: lightgrey;
    border: solid 1px lightgrey;
}

.page-header {
    height: 90px;
    line-height: 90px;
    background-color: white;
}

.page-header img {
    vertical-align: middle;
}

.page-header span {
font-size: 2rem;
vertical-align: middle;
}

main {
    margin-top: 50px;
    padding: 10px;
}

.card {
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

.task-list {
    display: inline-block;
    vertical-align: middle;
}

.task-item *{
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}

.task-item::before {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid currentColor;
    display: inline-block;
    vertical-align: middle;
}

.task-item.task-done::before {
    content: '\2714';
    color: lightgreen;
}

.task-blu {
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: auto;
    font-size: small;
    color: white;
    background-color: #007bff;
    border-radius: 15px;

}

.task-item.task-undone::before {
    content: 'x';
    color: red;
}

.task-blus {
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: auto;
    font-size: small;
    color: white;
    background-color: #007bff;
    border-radius: 15px;
}

.task-lilla {
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: auto;
    font-size: small;
    color: white;
    background-color: #cc6ef2;
    border-radius: 15px;
}

.task-green {
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: auto;
    font-size: small;
    color: white;
    background-color: #28a745;
    border-radius: 15px;
}

.task-orange {
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: auto;
    font-size:small;
    color: white;
    background-color: #fd7e14;
    border-radius: 15px;
}

.task-pink {
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: auto;
    font-size: small;
    color: white;
    background-color: #fc6caf;
    border-radius: 15px;
}

.task-yellow {
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: auto;
    font-size: small;
    color: white;
    background-color: #ffc107;
    border-radius: 15px;
}

section {
    margin-top: 20px;
}

.today {
    padding-top: 20px;

}



