* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color:rgb(246 248 250) ;
}
.container {
    max-width: 900px auto;
    margin: 0% auto;
}


.box1 {
  width: 650px;
  height: 650px;
  background-color: white;
  border-bottom-style: groove ;
  margin-top: 100px;
    margin-left: 450px;
    margin-block-end: 100px;

}